<div *ngIf='phone' class='row'>
  <div class='col-md-4 left-side'>
    <img src="{{phone.image_url}}" class='phone-image'>
    <a class='btn btn-primary btn-back' onclick="history.go(-1);return false;">Back</a>
  </div>
  <div class='col-md-8'>
    <h2>{{phone.name}}</h2>
    <table class='table'>
      <tbody>
        <template ngFor let-group [ngForOf]="phone.details | keys" [ngForTrackBy]="trackBy">
          <tr><th colspan=3>{{group}}</th></tr>
          <tr *ngFor="let param of phone.details[group]">
            <td></td>
            <td>{{param.name}}</td>
            <td>{{param.value}}</td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</div>