.phones {
  margin-top: 20px;
}

.panel {
  display: block;
  cursor: pointer;
}

.panel img {
  height: 200px;
}

.panel .panel-body {
  text-align: center;
}

.panel .panel-footer {
  text-align: center;
  white-space: nowrap;
}
