<div *ngIf="phones.length" class='phones'>

  <ul *ngIf="pageParams && brandId" class="pagination">
    <li *ngFor="let page of pages()" bind-class.active="page == pageParams.current">
      <a bind-routerLink="['/brands', brandId, {page: page}]">{{page}}</a>
    </li>
  </ul>

  <div class='row'>
    <div class="col-sm-4 col-md-3" *ngFor="let phone of phones">
      <a class="panel panel-default" bind-routerLink="['/phones', phone.id]">
        <div class='panel-body'>
          <img src="{{phone.image_url}}" alt="{{phone.name}}">
        </div>
        <div class='panel-footer'>
          <h4>{{phone.name}}</h4>
        </div>
      </a>
    </div>
  </div>

  <ul *ngIf="pageParams && brandId" class="pagination">
    <li *ngFor="let page of pages()" bind-class.active="page == pageParams.current">
      <a bind-routerLink="['/brands', brandId, {page: page}]">{{page}}</a>
    </li>
  </ul>

<div>