
<h1> Dashboard </h1>
<search bind-phones="phones" on-brandSelected="selectBrand($event)" on-phonesSearched="searchPhones($event)"></search>
<phones bind-phones="phones" bind-pageParams="pageParams"></phones>