<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="/#" class="navbar-brand">TZ Example</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="/api/docs">
            <i class="fa fa-database mr-2"></i> Api Documentation
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</div>

<div class="container main-container">
  <router-outlet></router-outlet>
</div>