
<div class='row'>
  <div bind-ngClass="phones.length ? 'col-sm-3' : 'col-sm-6'">
    <div class='form-group'>
      <select #brand class='form-control' on-change="chooseBrand(brand.value)">
        <option>Select Brand</option>
        <option *ngFor="let brand of brands" value="{{brand.id}}" bind-selected="brand_id == brand.id">{{brand.name}}</option>
      </select>
    </div>
  </div>
  <div class='col-sm-3' *ngIf="phones.length">
    <div class='form-group'>
      <select #product class='form-control' on-change="gotoPhone(product.value)">
        <option>Select Phone</option>
        <option *ngFor="let phone of phones" value="{{phone.id}}">{{phone.name}}</option>
      </select>
    </div>
  </div>
  <div class='col-sm-6'>
    <div class='form-group'>
      <input #search type='test' placeholder='Search' class='form-control' bind-value='query' on-keyup.enter="searchPhones(search.value)"> 
    </div>
  </div>
</div>
